    <ht-legend>基础信息</ht-legend>
    <ht-form name="mchntInfoAddForm">
        <ht-input ht-id="mchntId" name="商户编码" reg-exp="isMchntCode" ng-model="mchntInfoAdd.mchntId"></ht-input>
        <ht-input ht-id="mchntAbbr" name="商户简称" reg-exp="IsNotNull" ng-model="mchntInfoAdd.mchntAbbr"></ht-input>
        <ht-input ht-id="mchntNm" name="商户名称" reg-exp="IsNotNull" ng-model="mchntInfoAdd.mchntNm"></ht-input>
        <ht-input ht-id="contactPersonNm" name="联系人姓名" ng-model="mchntInfoAdd.contactPersonNm"></ht-input>
        <ht-input ht-id="contactPhone" name="联系人电话" ng-model="mchntInfoAdd.contactPhone"></ht-input>
        <ht-input ht-id="billRetUrl" name="对账通知URL"  ng-model="mchntInfoAdd.billRetUrl"></ht-input>
        <ht-select ht-id="mchntValidSt" name="商户状态" reg-exp="IsNotNull" dictionary="ValidSt" ng-model="mchntInfoAdd.mchntValidSt" ></ht-select>
    </ht-form>
    <ht-button-group class="center">
        <ht-button ht-id="confirm" class="btn-primary">确定</ht-button>
        <ht-button ht-id="cancel" class="btn-primary">取消</ht-button>
    </ht-button-group>