<ht-form name="mchntForm">
    <ht-input ht-id="mchntId" name="商户编号" ng-model="condition.mchntId"></ht-input>
    <ht-input ht-id="mchntNm" name="商户名" ng-model="condition.mchntNm"></ht-input>
    <ht-button-group class="center">
        <ht-button ht-id="submit" class="btn-primary" desc-name="查询"></ht-button>
        <ht-button ht-id="reset" class="btn-primary" desc-name="重置"></ht-button>
    </ht-button-group>
</ht-form>
<ht-button-group>
    <!--<ht-button ht-id="upload" class="btn-primary">导入数据</ht-button>-->
    <!--<ht-button ht-id="download" class="btn-primary">下载模板</ht-button>-->
    <ht-button ht-id="add" class="btn-primary">新增</ht-button>
    <!--<ht-button ht-id="update" class="btn-primary">修改</ht-button>-->
    <ht-button ht-id="detail" class="btn-primary">详情</ht-button>
<!--     <ht-button ht-id="delete" class="btn-primary">删除</ht-button> -->
    <!--<ht-button ht-id="revocationDelete" class="btn-primary">撤销删除</ht-button>
    <ht-button ht-id="excel" class="btn-primary" option="exportExcel">导出页面数据</ht-button>-->
</ht-button-group>
<ht-table ht-id="tableId" datasource="mchntData" selected="selected" docheckbox="true" singlecheckbox="true" dooption="false">
    <ht-column eg-name="mchntId" zh-name="商户编号" docolumn="column"></ht-column>
    <ht-column eg-name="mchntNm" zh-name="商户名"></ht-column>
    <ht-column eg-name="contactPersonNm" zh-name="联系人姓名" ></ht-column>
    <ht-column eg-name="contactPhone" zh-name="联系人电话"></ht-column>
    <ht-column eg-name="mchntValidSt" zh-name="状态" dictionary="ValidSt"></ht-column>
</ht-table>
<ht-page conf="conf"></ht-page>